.container {
  width: 500px;
  padding: 10vh 5vw;
  border: 3px solid #242424;
  border-radius: 30px;
  margin-bottom: 5vh;
  background-color: #fff;
}

.primary-button {
  border-radius: 2px;
  border: 2px solid #242424;
  background-color: #1d75f0;
  color: white;
  padding: 1vh 1vw;
  text-decoration: none;
}

.company {
  color: #035fe0;
  width: auto;
  text-decoration: none;
}

.company h3 {
}

.primary-button:hover {
  background-color: #0054c9;
  cursor: pointer;
}
