body {
  background-size: 20px 20px;
  background-image: linear-gradient(
      to right,
      rgb(202, 202, 202) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(202, 202, 202) 1px, transparent 1px);
  font-family: 'Questrial', sans-serif;
}
